*{margin: 0; padding: 0; box-sizing: border-box;}

body{
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

header{
    display: flex;
    width: 100%;
    padding: 2rem 3rem;
    /* padding-left: 3rem; */
    font-weight: bold;
    justify-content: space-between;
}

header button{
    padding: 0.3rem;
    border-radius: 5px;
    background-color: aquamarine;
    font-weight: bold;
}

nav{
    display: flex;
    width: 80%;
    margin-inline: auto;
    justify-content: space-between;
    align-items: center;
}

nav button{
    background-color: rgba(255, 255, 255, 0);
    border: none;
}

.search{
    display: flex;
    width: 80%;
    border-radius: 10px;
    border: 1px solid black;
    padding: 0.5rem;
    gap: 1rem;
}

.search input{
    width: 100%;
    background-color: none;
    border: none;
}

#note{
    display: flex;
    flex-direction: column;
    margin-inline: auto;
    width: 80%;
    margin-top: 1rem;
}

.noteItem{
    display: flex;
    flex-direction: column;
    padding: 1rem 2rem;
    border-radius: 10px;
    background-color: #82FF7B;
    margin-top: 0.3rem;
    margin-bottom: 0.3rem;
}

.noteItemPending{
    display: flex;
    flex-direction: column;
    padding: 1rem 2rem;
    border-radius: 10px;
    background-color: #BDBDBD;
    margin-top: 0.3rem;
    margin-bottom: 0.3rem;
}

.titleItem{
    display: flex;
    font-weight: bold;
    align-items: center;
    justify-content: space-between;
}

.titleItem button{
    background-color: rgba(240, 248, 255, 0);
    border: none;
    cursor: pointer;
}

.description {
    color: rgb(48, 48, 48);
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.3s ease-in-out, opacity 0.3s ease-in-out;
    opacity: 0;
}

.actions{
    display: flex;
    width: 100%;
    margin-inline: auto;
    justify-content: space-evenly;
    overflow: hidden;
    transition: max-height 0.3s ease-in-out, opacity 0.3s ease-in-out;
    opacity: 0;
}

.deleteButton{
    background-color: red;
    color: wheat;
}

.finishButton{
    background-color: green;
    color: wheat;
}

.description.hidden, .actions.hidden {
    max-height: 0;
    opacity: 0;
}

.description:not(.hidden), .actions:not(.hidden){
    /* margin-bottom: 0.5rem; */
    max-height: 100px;
    opacity: 1;
}